test/WebContent/wsdl/META-INF/wsdl/RechercherPoint-v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/dc" xmlns:ds="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/ds" xmlns:sc="http://www.enedis.fr/sge/b2b/services/rechercherpoint/v2.0" targetNamespace="http://www.enedis.fr/sge/b2b/services/rechercherpoint/v2.0">
	<xs:import namespace="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/dc" schemaLocation="../../Dictionnaires/v5.0/ENEDIS.Dictionnaire.TypeComplexe.v5.0.xsd"/>
	<xs:import namespace="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/ds" schemaLocation="../../Dictionnaires/v5.0/ENEDIS.Dictionnaire.TypeSimple.v5.0.xsd"/>
	<xs:element name="rechercherPoint" type="sc:RechercherPointType"/>
	<xs:element name="rechercherPointResponse" type="sc:RechercherPointResponseType"/>
	<xs:complexType name="RechercherPointType">
		<xs:sequence>
			<xs:element name="criteres" type="sc:CriteresType"/>
			<xs:element name="loginUtilisateur" type="ds:UtilisateurLoginType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RechercherPointResponseType">
		<xs:sequence>
			<xs:element minOccurs="0" name="points" type="sc:PointsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointsType">
		<xs:sequence>
			<xs:element maxOccurs="200" name="point" type="sc:PointType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointType">
		<xs:sequence>
			<xs:element name="adresseInstallationNormalisee" type="dc:AdresseAfnorType"/>
			<xs:element maxOccurs="100" minOccurs="0" name="matricule" type="ds:Chaine255Type"/>
			<xs:element maxOccurs="100" minOccurs="0" name="numeroSerie" type="ds:Chaine255Type"/>
			<xs:element minOccurs="0" name="typeComptage" type="dc:StructureComptageType"/>
			<xs:element name="etatContractuel" type="dc:PointEtatContractuelType"/>
			<xs:element minOccurs="0" name="nomClientFinalOuDenominationSociale" type="ds:Chaine255Type"/>
		</xs:sequence>
		<xs:attribute name="id" type="ds:PointIdType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CriteresType">
		<xs:sequence>
			<xs:element minOccurs="0" name="adresseInstallation" type="sc:AdresseInstallationType"/>
			<xs:element minOccurs="0" name="numSiret" type="ds:EtablissementNumSiretType"/>
			<xs:element minOccurs="0" name="matriculeOuNumeroSerie" type="ds:Chaine255Type"/>
			<xs:element minOccurs="0" name="domaineTensionAlimentationCode" type="ds:DomaineTensionCodeType"/>
			<xs:element minOccurs="0" name="nomClientFinalOuDenominationSociale" type="ds:Chaine255Type"/>
			<xs:element minOccurs="0" name="categorieClientFinalCode" type="ds:ClientFinalCategorieCodeType"/>
			<xs:element minOccurs="0" name="rechercheHorsPerimetre" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdresseInstallationType">
		<xs:sequence>
			<xs:element minOccurs="0" name="escalierEtEtageEtAppartement" type="ds:AdresseAfnorLigneType"/>
			<xs:element minOccurs="0" name="batiment" type="ds:AdresseAfnorLigneType"/>
			<xs:element minOccurs="0" name="numeroEtNomVoie" type="ds:AdresseAfnorLigneType"/>
			<xs:element minOccurs="0" name="lieuDit" type="ds:AdresseAfnorLigneType"/>
			<xs:element minOccurs="0" name="codePostal" type="ds:CodePostalFrancaisType"/>
			<xs:element minOccurs="0" name="codeInseeCommune" type="ds:CommuneFranceCodeInseeType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
